---
import { getCollection, render } from "astro:content";
import config, { monolocale } from "$config";
import Time from "$utils/time";
import Base from "$layouts/Base.astro";
import Comments from "$components/comment/Section.astro";
import i18nit from "$i18n";

export async function getStaticPaths() {
	// Create path for each locale, omitting default locale from URL
	return config.i18n.locales.map(locale => ({ params: { locale: config.i18n.defaultLocale === locale ? undefined : locale } }));
}

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const prefaces = (
	await getCollection("preface", preface => {
		// Handle single locale setup
		if (monolocale) return true;

		// Extract language and ID from file path structure
		const [language, id] = preface.id.split("/");
		preface.id = id;

		return language === locale;
	})
).sort((a, b) => b.data.timestamp.getTime() - a.data.timestamp.getTime());

// Render each entry
const entries = await Promise.all(prefaces.map(async preface => ({ ...preface, content: (await render(preface)).Content })));
---

<Base title={t("navigation.preface")} {locale}>
	<main class="flex flex-col">
		<h2>{t("home.prefaces")}</h2>
		<ul class="flex flex-col list-none">
			{
				entries.map(preface => [
					<hr class="my-5 border-b border-primary" />,
					<li id={preface.id}>
						<time datetime={preface.data.timestamp.toISOString()} class="block mb-5 font-bold text-xl">
							{Time.locale(preface.data.timestamp, locale)}
						</time>
						<article class="markdown">
							<preface.content />
						</article>
						<blockquote class="mb-4">
							<Comments compact={true} {locale} link={`${Astro.url.origin}${Astro.url.pathname}#${preface.id}`} section="preface" item={preface.data.timestamp.toISOString()} />
						</blockquote>
					</li>
				])
			}
		</ul>
	</main>
</Base>
