---
import i18nit from "$i18n";
import Icon from "$components/Icon.svelte";

interface Props {
	/** Current locale/language code */
	locale: string;

	/** Array of link items to display in the linkroll */
	links: Array<{
		/** Display title of the link */
		title: string;

		/** Target URL of the link */
		url: string;

		/** Category type of the link */
		type: keyof typeof types;

		/** Optional image URL for the link avatar */
		image?: string;

		/** Optional description text for the link */
		description?: string;
	}>;
}

const { locale, links } = Astro.props;

const t = i18nit(locale, "linkroll");

const types = {
	resources: { name: t("type.resources"), icon: "lucide--tool-case" },
	community: { name: t("type.community"), icon: "lucide--network" },
	insights: { name: t("type.insights"), icon: "lucide--lightbulb" },
	technology: { name: t("type.technology"), icon: "lucide--terminal" },
	expertise: { name: t("type.expertise"), icon: "lucide--book-open-text" },
	creative: { name: t("type.creative"), icon: "lucide--palette" },
	lifestyle: { name: t("type.lifestyle"), icon: "lucide--coffee" },
	general: { name: t("type.general"), icon: "lucide--box" }
} as const;

const fallback = "/linkback.webp";
---

<main class="grid grid-cols-[repeat(auto-fit,minmax(14rem,1fr))] gap-4 my-4">
	{
		links.map(link => (
			<article class="flex gap-2 border-b border-weak ps-1 pe-2 pb-2">
				<img src={link.image || fallback} alt={`Linkroll-${link.title}`} data-nozoom class="w-10 h-10 rounded-full" onerror={`this.onerror=null;this.src='${fallback}';`} />
				<div class="grow min-w-0 flex flex-col justify-around">
					<div class="flex items-center justify-between">
						<a href={link.url} target="_blank" rel="noopener noreferrer" class="font-bold after:hidden link truncate">
							{link.title}
						</a>
						<Icon name={types[link.type].icon} title={types[link.type].name} size="0.9rem" />
					</div>
					{link.description && (
						<p title={link.description} class="text-xs text-secondary truncate">
							{link.description}
						</p>
					)}
				</div>
			</article>
		))
	}
</main>

<style>
	* {
		line-height: normal;
	}
</style>
