---
import config from "$config";
import App from "$layouts/App.astro";
import Header from "$layouts/header/Header.astro";
import Footer from "$layouts/Footer.astro";
import Tip from "$components/Tip.svelte";
import "$styles/global.css";
import "$styles/markdown.css";
import "medium-zoom/dist/style.css";
import "katex/dist/katex.min.css";

const { locale = config.i18n.defaultLocale, title: subtitle, description = config.description, article } = Astro.props;
const title = config.title;
---

<script>
	import MediumnZoom, { type Zoom } from "medium-zoom/dist/pure";
	import Time from "$utils/time";

	// Set the `title` attribute of all `<time>` elements to localized date-time strings
	const localizeTimes = () => document.querySelectorAll("time").forEach(time => time.dateTime && (time.title = Time.toLocaleString(time.dateTime, navigator.language, true)));

	// Add zoom effect to images within markdown content
	const zoom: Zoom = MediumnZoom(undefined, { background: "#00000044" });
	window.zoom = () => {
		zoom.detach();
		zoom.attach(".markdown img:not([data-nozoom])");
	};

	// Page initialization function
	function initialize() {
		localizeTimes();
		window.zoom();
	}

	// Execute initialization on first load
	initialize();

	// Listen for page load event and re-initialize on page transitions
	document.addEventListener("astro:page-load", initialize);
</script>

<App {locale} {title} {subtitle} {description} {article} author={config.author.name}>
	<Tip client:load />
	<div class="flex flex-col mx-auto *:*:px-3 w-[min(100%,1000px)]">
		<!-- Stretch body to full viewport height to prevent layout jumps from toggleable scrollbars. -->
		<div id="body" class="flex flex-col min-h-screen">
			<Header {locale} {title} />

			<slot />
		</div>

		<Footer {locale} author={config.author} copyright={config.copyright} />
	</div>
</App>
